.custom-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #9333ea;
    color: #ffffff;
    font-weight: 600;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    box-shadow: 0 10px 15px -3px rgba(168, 85, 247, 0.3);
    transition: all 0.3s;
    border: none;
    cursor: pointer;
    flex-direction: row-reverse;
}

.custom-button:hover {
    background-color: #7e22ce;
}

.custom-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.button-spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}